*.csv
*.json
*.geojson
MedSat/image_features/*
*.zip
Archive/
.DS_Store
*.xlsx
*.txt
*.pmtiles
__pycache__/
OSM-Cycling-Quality-Index/__pycache__/

!requirements.txt
!Datasets/ALL-MSOA-Names.csv
!Datasets/dft-road-casualty-statistics-casualty-2021.csv
!Datasets/LSOAtoMSOAlookup.csv
!Datasets/MethodTravelToWork.csv
!Datasets/Middle_layer_Super_Output_Areas_December_2021_Boundaries_EW_BGC_V3.geojson

!Score Scripts/BirminghamDatasets/*.csv
!Score Scripts/LondonDatasets/*.csv
!Score Scripts/BristolDatasets/*.csv
!Score Scripts/ManchesterDatasets/*.csv
!Score Scripts/LeedsDatasets/*.csv
!Score Scripts/LiverpoolDatasets/*.csv
!Score Scripts/SheffieldDatasets/*.csv


!Score Scripts/QueryLondonOSM.txt
!Score Scripts/QueryManchesterOSM.txt

!Score Scripts/Visuals/msoa_distances_from_london.csv
!Score Scripts/Visuals/msoa_loc_score.csv
!Models/Confound/London_msoa_income_scores.csv

!Models/Confound/Sheffield_msoa_income_scores.csv
!Models/Confound/London_msoa_income_scores.csv

!Models/city_list.csv
!Models/DescComp/desc_metrics_summary.csv

!OSM-Cycling-Quality-Index/cycling_quality_index.py
!OSM-Cycling-Quality-Index/definitions.py

!MedSat/London/** 
!MedSat/Leeds/** 
!MedSat/Birmingham/** 
!MedSat/Bristol/** 
!MedSat/Manchester/**
!MedSat/Liverpool/** 
!MedSat/Sheffield/** 

!Datasets/Birmingham_cqi_jsons_msoa_REDUCED/**
!Datasets/Leeds_cqi_jsons_msoa_REDUCED/**
!Datasets/London_cqi_jsons_msoa_REDUCED/**
!Datasets/Manchester_cqi_jsons_msoa_REDUCED/**
!Datasets/Bristol_cqi_jsons_msoa_REDUCED/**
!Datasets/Liverpool_cqi_jsons_msoa_REDUCED/**
!Datasets/Sheffield_cqi_jsons_msoa_REDUCED/**

!Datasets/Filtered_Birmingham_Polygon.geojson
!Datasets/Filtered_London_Polygon_ONE.geojson
!Datasets/Filtered_London_Polygon_TWO.geojson
!Datasets/Filtered_Bristol_Polygon.geojson
!Datasets/Filtered_Leeds_Polygon.geojson
!Datasets/Filtered_Manchester_Polygon.geojson
!Datasets/Filtered_Liverpool_Polygon.geojson
!Datasets/Filtered_Sheffield_Polygon.geojson